@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Geologica:wght@100..900&display=swap');

html {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Geologica", sans-serif;
    font-weight: 200;
}

#infoContainer {
    background-color: white;
    box-shadow: 0px 0px 15px #c0c0c0;
}

h1 {
    font-size: 2.5rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Averia Serif Libre", serif;
}

a {
    margin: 0;
    padding: 0;
    color: black;
}

#titleSection {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#titleSection * {
    flex-grow: 1;
}

#titleTopDiv {
    flex-grow: 2;
}

#titleBottomDiv {
    flex-grow: 0;
}

#aboutSection {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 6vw;
    word-wrap: break-word;
}

#aboutSection h2 {
    margin-top: 0;
}

#aboutSection img {
    min-width: 18rem;
}

#biography {
    text-align: justify;
    font-size: max(0.7vw + 0.64rem, 1rem);
}

#personalInfo {
    min-width: 10rem;
    font-size: 1rem;
}

#personalInfo p {
    margin-bottom: 0rem;
}

.listSection {
    font-size: 1.2rem;
}

.listSection h1 {
    border-bottom: 2px black solid;
    padding-bottom: 0.5rem;
}
  
.listSection div {
    background-color: white;
}

.listItemGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.listItemTitle {
    text-align: right;
    border-right: 1px gray solid;
    padding-right: 3rem;
}

.listItemBody {
    padding-left: 3rem;
}

.listItemBody h3 {
    font-weight: normal;
}

.listItemBody p {
    text-align: justify;
}

@media (max-width: 50rem) {
    .listItemTitle {
        text-align: left;
        border-right: none;
        border-bottom: 1px gray solid;
    }
    .listItemBody {
        padding-left: 0;
        margin-bottom: 1rem;
        margin-top: 1.2rem;
    }
    .listItemGrid {
        grid-template-columns: 1fr;
    }
    .listItemGrid h3 {
        margin-top: 0;
    }
    .listItemTitle h3 {
        margin-bottom: .5rem;
    }
    .listItemGrid h5 {
        margin-top: 0;
        margin-bottom: .7rem;
    }
    #biography {
        margin-top: 2rem;
        font-size: 1.2rem;
    }
    #personalInfo {
        margin-top: 1rem;
        font-size: 1.2rem;
    }
    #aboutSection {
        grid-template-columns: 1fr;
        margin-bottom: 1.6rem;
    }
}

#footer {
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: right;
}

.sidePadding {
    padding-right: max(24vw - 11rem, 20px);
    padding-left: max(24vw - 11rem, 20px);
}

.topPadding {
    padding-top: max(14vw - 5rem, 20px);
}

.bottomPadding {
    padding-bottom: max(14vw - 5rem, 20px);
}